body{
    background-color: rgb(5, 52, 70);
}
.TEX{
color: brown;
text-align:center ;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.Força{
color: rgb(172, 34, 34);
}
.Velocidade{
color: rgb(25, 172, 11);
}
.Mana{
color: rgb(79, 82, 226);
}
.Magia{
color: rgb(245, 245, 245);
}
.Agilidade{
color: rgb(29, 177, 169);
}
.Inteligência{
color: rgb(181, 228, 11);
}
.Habilidades{
color: rgb(207, 131, 16);
}
.Frieza{
color: silver;
}
.Habilidades{
color: rgb(196, 245, 62);
}
.Resistência{
color: rgb(116, 23, 170);
}
.Esgrima{ 
color: rgb(3, 2, 2);
}
.EspadachimHábil{ 
color: rgb(92, 86, 86);
}
.PreparaçãoDePoções{ 
color: rgb(83, 2, 2);
}

