body{
    background-color: rgb(0, 190, 133);
}
.TEX{
color: brown;
text-align:center ;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.Verde{
    color: aqua;
}
.Amarelo{
color: yellow;
}
.Prata{
color: silver;
}